.container{
    display: flex;
    flex: 1;
    border-radius: 8px;
    height: fit-content;
    flex-direction: column;
    margin-top: 20px;
}

.top{
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
}
.bottom{
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
    background-image: repeating-linear-gradient(to right, black 0 10px, transparent 10px 20px);
    background-position: top;
    background-repeat: repeat-x;
    background-size: auto 1.5px;
}
.price{
    color: #242D3F;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px
}

.price span{
    color: #242D3F;
    font-size: 22px;
    font-weight: 700;
}

@media (max-width:1024px) {
    .container{
        padding: 0;
    }
}