.title{
    color: #242D3F;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
.detailed{
    flex: 2;
}
@media  (max-width: 1024px) {
    .title{
        font-size: 24px;
    }
    
}