.wrapper{
    padding: 0 20px;
    margin-top:80px ;
    width: 100%;
    background-color: #fff;
}
.container{
    max-width: 1144px;
    margin: 0 auto;
    width: 100%;
    height: 254px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.footerContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footerText{
    color: #848484;
    font-size: 14px;
    line-height: 22px;
}
.logo{
    margin-bottom: 50px;
}

.social{
    display: flex;
    gap: 8px;
    margin-bottom: 18px;
}

.socialItem{
    background-color: #E1EFFF;
    border-radius: 8px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    display: flex;
    gap: 4px;
    align-items: center;
}

@media (max-width: 680px) {
    .secondColumn{
        display: none;
    }
    
}
@media (max-width: 440px) {
   .footer{
    flex-direction: column;
    gap: 10px;
   }
    .footerContent{
        width: 100%;
    }
    .logo{
        margin-bottom: 0;
    }
    .container{
        height: auto;
        padding: 30px 0;
    }
}