:root {
  --background: #f5f5f5;
  --foreground: #212121;
}


@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


.css-13cymwt-control,.css-t3ipsp-control{
  min-height: 46px !important;
  background-color: #fafafa !important;
}

.rdp-root {
  --rdp-accent-color: #328AEE !important; /* Change the accent color to indigo. */
  --rdp-accent-background-color: #f0f0f0; /* Change the accent background color. */
  /* Add more CSS variables here. */
}


.rdp-range_start button{
  border-top-left-radius:12px !important;
  border-bottom-left-radius:12px !important;
  border-top-right-radius: 0 ;
  border-bottom-right-radius: 0 ;
}

.ymaps-2-1-79-searchbox-input__input{
  color: #000;
}




.rdp-range_end button{
  border-top-left-radius:0px;
  border-bottom-left-radius:0px  ;
  border-top-right-radius: 12px ;
  border-bottom-right-radius: 12px ;
}


body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Manrope', sans-serif;
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}




.css-ptck8z-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #328AEE !important;
  color: #fff !important;
  border: none !important;
}
.css-ptck8z-MuiButtonBase-root-MuiPaginationItem-root{
  color: #848484 !important;
  border: none !important;
  background-color: #fff !important;
}