.wrapper{
    max-width: 1144px;
    width: 100%;
    margin: 80px auto 0;
}
.containerParent{
    padding: 0 20px ;
}
.title{
    color: #242D3F;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item{
    width: calc(33.3333333333% - 13.33333px);
    height: 600px;
    
    border-radius: 12px;
    overflow: hidden;
}

.top{
    width: 100%;
    aspect-ratio: 368/241;
    position: relative;
    background-color: #fff;
}
.individual{
    display: flex;
    background-color: #fff;
    align-items: center;
    gap: 5px;
    padding: 6px;
    border-radius: 8px;
    position: absolute;
    top: 15px;
    left: 15px;
}
.bottom{
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ratingContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.ratingContent{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ratingValue{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.rating{
    color: #242D3F;
    font-weight: 500;
    font-size: 16px;
    font-family: "Manrope", sans-serif;
}

.dott{
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background-color: #848484;
    margin: 0 5px;
    opacity: 0.2;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 15px;
    height: 200px;
}

.name{
    color: #000;
    font-weight: 600;
    display: -webkit-box;              /* Required for line clamping */
    font-size: 22px;
    line-clamp: 2;
    -webkit-line-clamp: 2; /* Number of lines */
    -webkit-box-orient: vertical;
     overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.features{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.feature{
    display: flex;
    background-color: #F5F5F5;
    border-radius: 8px;
    width: fit-content;
    gap: 3.5px;
    padding: 10px 12px;
    align-items: center;
}
.featureText{
    font-size: 14px;
    color: #848484;
    font-weight: 500;
    
}

.submitContent{
    padding: 15px;
    border-radius: 12px;
    background-color: #fff;
    background-image: repeating-linear-gradient(
    to right,
    black 0 10px,
    transparent 10px 20px
  );
  background-position: top;
  background-repeat: repeat-x;
  background-size: auto 1.5px;
  flex: 1;
}
.priceContent{
    display: flex;
    justify-content: space-between;
}
.priceLeft{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.discountPrice{
    color: #848484;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;    
}

.price{
    color: #328AEE;
    font-size: 22px;
    font-weight: 600;

}
.priceText{
    color: #363636;
    font-size: 14px;
}
.submit{
    background-color: #328AEE;
    height: 50px;
    width: 100%;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11px;
    cursor: pointer;
}
.submit p{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
.more{
    background-color: #E1EFFF;
    max-width: 368px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 30px;
    margin: 30px auto 100px auto;
    cursor: pointer;

}
.moreText{
    color: #328AEE;
    font-size: 16px;
}
.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.img{
    width: 100%;
    aspect-ratio: 368/241;
    object-fit: cover;
}

@media (max-width:900px) {
    .item{
        width: calc(50% - 10px);
        height: auto;
    }
    .title{
        font-size: 24px;
    }
}

@media (max-width:655px) {
    .item{
        width: calc(100%);
        height: auto;
    }
    .title{
        font-size: 22px;
    }
}