.container{
    background-color: #fff;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    overflow: hidden;
}
.period{
    color: #848484;
    padding: 6px;
    border-radius: 8px;
    background-color: #F5F5F5;
    width: fit-content;
    flex-shrink: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    display: flex;
    align-items: center;
    gap: 15px;
}
.title{
    color: #242D3F;
    font-size: 18px;
}
.arrowWrapper{
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dot{
    background-color: #000;
    width: 4px;
    height: 4px;
    border-radius: 100px;
    margin: 0 12px;
}

.item{
    display: flex;
    align-items: center;
}
.list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.listPhotes{
    display: flex;
    margin-top: 20px;
    width: 100%;
    gap: 10px;
}
.photo{
    flex: 1;
    border-radius: 8px;
    aspect-ratio: 3/2;
    object-fit: cover;
    max-width: 380px;
    flex-shrink: 0;
    flex-basis: 0%;
}