.container{
    width: 368px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.top{
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
}
.image{
    width: 100%;
    aspect-ratio: 368/241;
}
.topInfo{
    padding: 15px;
}
.ratingContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.ratingValue{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.rating{
    color: #242D3F;
    font-weight: 500;
    font-size: 16px;
    font-family: "Manrope", sans-serif;
}

.dott{
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background-color: #848484;
    margin: 0 5px;
    opacity: 0.2;
}
.title{
    color: #242D3F;
    font-size: 22px;
    font-weight: 700;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.features{
    display: flex;
    gap: 8px;
    margin-top: 15px;
    flex-wrap: wrap;
}
.feature{
    padding: 6px;
    background-color: #F5F5F5;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.featureText{
    color: #848484;
    font-size: 14px;
}
.bottom{
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
}
.blockTitle{
    display: flex;
    gap: 8px;
    align-items: center;
}

.blockTitle p {
    color: 16px;
    color: #242D3F;
}
.linkBlock{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.link{
    color: #328AEE;
    font-size: 16px;
}
.phone{
    text-decoration: underline;

}
.linkItem{
    display: flex;
    gap: 5px;
    align-items: center;
}
.listSocials{
    display: flex;
    gap: 8px;
}
.social{
    background-color: #E1EFFF;
    border-radius: 8px;
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:540px) {
    .container{
        width: 100%;
    }
}