.mainSearch{
    width: fit-content;
    height: 66px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.selectCity{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
    padding-right: 15px;
    position: relative;
    height: 100%;
}

.searchText{
    color: #848484;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    width: 126px;
}
.selectDate{
    padding: 0 15px;
    height: 36px;
    border-left: #DDDDDD 1px solid;
    border-right: #DDDDDD 1px solid;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    position: relative;
}
.selectExcursion{
    padding: 0 15px;
    height: 36px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
    position: relative;
    height: 100%;
}
.btn{
    background-color: #328AEE;
    height: 38px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;
    padding: 0 10px;
}
.btnText{
    color: #fff;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 16px;
}


.modal{
    background-color: #fff;
    display: flex;
    z-index: 10;
    position: absolute;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .08);
    width: calc(100% + 20px);
    left: -20px;
    top: 48px;
    gap: 5px;
}
.modalType{
    background-color: #fff;
    display: flex;
    z-index: 10;
    position: absolute;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .08);
    width: 100%;
    left: 0px;
    top: 55px;
    gap: 5px;
}
.cityWrapper{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 100%;
}
.city{
    font-size: 16px;
    color: #000;
    
    transition: 0.3s ease-in-out;
    line-height: 160%;
}
.city:hover{
    color: #328AEE;
}

.calendarWrapper{
    position: absolute;
    opacity: 0;
    /* display: none; */
}

.calendarWrapper input{
    cursor: pointer;
}
.searchTop{
    display: flex;
    align-items: center;
    height: 100%;
}

@media (max-width:768px) {
    .mainSearch{
        flex-direction: column;
        width: calc(100% - 20px);
        background-color: transparent;
        gap: 10px;
    }
    .selectDate{
        border: none;
        background-color: #fff;
        height: 50px;
        flex-shrink: 0;
        border-radius: 8px;
        flex: 1;
        width: calc(50% - 5px);
    }
    .selectCity{
        background-color: #fff;
        height: 50px;
        border-radius: 8px;
        padding-left: 16px;
        flex: 1;
        width: calc(50% - 5px);
    }
    .selectExcursion{
        background-color: #fff;
        width: 350px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 8px;
    }
    .arrow{
        position: absolute;
        right: 20px;
        top:0;
        bottom:0;
        margin-top: auto;
        margin-bottom: auto;
    }
    .modal{
        top: 53px;
        width: 100%;
        left: 0px;
    }
    .btn{
        width: 350px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 8px;
    }
    .searchTop{
        gap: 10px;
        width: 350px;
    }
}

@media (max-width:400px) {
    .searchTop{
        width: 320px;
    }
    .btn{
        width: 320px;
    }
    .selectExcursion{
        width: 320px;
    }
}
