.search{
    margin-left: 20px;
    height: 36px;
    display: flex;
    align-items: center;
    position: relative;
    
}
.searchIcon{
    position: absolute;
    left:12px
}
.input{
    caret-color:#0099FF;
    text-overflow:ellipsis;
    flex: 1;
    white-space:nowrap;
    background-color: transparent;
    height: 100%;
    width: 194px;
    outline: none;
    outline-style:none !important;
    border-radius: 8px;
    background-color: #F5F5F5;
    padding-left: 36px;
    padding-right: 12px;
    border: 1px solid #DDDDDD;
    color: #212121;
    font-size:15px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    
}

.search input:hover, .search input:focus{
    border: 1px solid #0099FF;
    background-color: #fff;
}


@media (max-width: 600px) {
    .search{
        display: none;
    }
    
}