.container{
    border-radius: 12px;
    padding: 15px;
    background-color: #fff;
    height: fit-content;
    max-width:  562px;
    width: 100%;
}
.listOrdinary{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.label{
    font-size: 16px;
    color: #848484;
}
.value{
    font-size: 16px;
    color: #242D3F;
}
.list{
    border-top: 1px solid #F5F5F5;
    display: flex;
    align-items: center;    
    min-height: 42px;
    justify-content: space-between;
}
.contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.priceContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.priceLabel{
    font-size: 16px;
    color: #242D3F;
}
.price{
    color: #242D3F;
    font-weight: 700;
    font-size: 22px;
}
.cardContent{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.cards{
    display: flex;
    gap: 8px;
}
.card{
    width: 42.8px;
    height: 28px;
    border: 0.57px solid #DDDDDD;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookPrice{
    padding: 0px 6px;
    height: 28px;
    background-color:#E6FFE1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookPrice p{
    color: #0FA53A;
    font-size: 14px;
}

