.checkboxWrapper4{
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
}

 
  .checkboxWrapper4 * {
    box-sizing: border-box;

  }
  .checkboxWrapper4 .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 1px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    display: inline-block;
  }
  
  .checkboxWrapper4 .cbx:hover {
    background: rgba(0,119,255,0.06);
  }
  .checkboxWrapper4 .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkboxWrapper4 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0,16,75,0.05);
  }
  .checkboxWrapper4 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    strokeWidth: 2;
    strokeLinecap: round;
    strokeLinejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkboxWrapper4 .cbx span:last-child {
    padding-left: 8px;
    line-height: 18px;
  }
  .checkboxWrapper4 .cbx:hover span:first-child {
    border-color: #07f;
  }
  .checkboxWrapper4 .inpcbx {
    position: absolute;
    visibility: hidden;
  }
  .checkboxWrapper4 .inpcbx:checked + .cbx span:first-child {
    background: #07f;
    border-color: #07f;
    animation: wave-4 0.4s ease;
  }
  .checkboxWrapper4 .inpcbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkboxWrapper4 .inlinesvg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
  }
  @media screen and (max-width: 640px) {
    .checkboxWrapper4 .cbx {
      width: 100%;
      display: inline-block;
    }
  }
  @-moz-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  @-webkit-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  @-o-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  @keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }